body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0 20px;
}

/* Estilos para o cabeçalho */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

header nav ul li a.active,
header nav ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

/* Estilos para a seção principal */
main {
    margin: 20px 0;
}

main #introduction,
main #about,
main #activities,
main #contact {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos para o formulário de contato */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background: #575757;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
    border-radius: 5px 5px 0 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}
